.Container {
  display: flex;
  flex-direction: column;
}
.Content {
  margin: 5px 5px;
}
.Title {
  font-style: italic !important;
  color: chocolate !important;
}
.AR,
.FR,
.COP,
.CA,
.Title,
.PrayerText {
  width: 50%;
  text-align: justify;
}
.AR,
.CA {
  font-size: 14pt;
  direction: rtl !important;
}
.FR,
.EN {
  font-size: 14pt;
}
.COP {
  font-family: "Coptic Eyes Coptic", sans-serif;
}
.Menu {
  background-color: #5270a3;
}
.btnIcon {
  width: 10rem;
  border-radius: 9px;
  background-color: #95190c;
  padding: 0px;
  margin-left: 05px;
  align-items: center !important;
}
.Repeatable {
  margin-bottom: 50px;
  padding-left: 1cm;
  padding-right: 1cm;
}
.btnText {
  line-height: 9px;
  font-weight: bold;
  font-size: 10pt;
  color: #f1f1f1;
  font-family: "Times New Roman", Times, serif;
}
.PrayerText,
.Title {
  padding: 0vw 0vw;
  margin: 1vw 1vw;
}
.Title {
  font-weight: bold;
  font-size: 12pt;
}
.TargetRow {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.Priest,
#PriestColor {
  background-color: #b8f2ff;
}
.Diacon,
#DiaconColor {
  background-color: #e1f7c4;
}
.Assembly,
#AssemblyColor {
  background-color: #fff8d2;
}

.colorbtn,
.btns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 3pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.showDate {
  color: #5270a3;
  font-weight: bold;
  padding: 7px;
}
.comment {
  color: chocolate;
  font-style: italic;
  font-weight: bold;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  margin-top: 2px;
  margin: 3px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
  transition: margin-left 0.3s; /* If you want a transition effect */
  padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
